.context {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
    margin: 50px;
}

.image-individual {
    text-align: center;
}

.gif-individual {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: left;
}

@media (max-width: 768px) {
    .context {
        grid-template-columns: repeat(1, 1fr);
    }

    .text {
        text-align: left;
    }
}