.Images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    max-height: 10%;
    margin: 50px;
}

.Row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 50px 50px 0px 50px;
}

.SearchBox {
    grid-column: 2;
}

.SelectBox1 {
    grid-column: 3;
}

.SelectBox2 {
    grid-column: 4;
}

.SelectBox3 {
    grid-column: 5;
}

.Title {
    margin: auto;
    margin-left: 0;
    grid-column: 1;
    font-family: 'Larken', sans-serif;
    font-size: 42px;
}

.loadingImages {
    position: absolute;
    z-index: 1;
}

@media (max-width: 768px) {
    .logo .logo-box .rest-of-word {
        display: none;
    }

    .Title {
        margin: auto;
        margin-left: 0;
        grid-column: span 5;
        font-family: 'Larken', sans-serif;
        font-size: 42px;
    }

    .SearchBox {
        grid-column: 1;
    }
    
    .SelectBox1 {
        grid-column: 2;
    }
    
    .SelectBox2 {
        grid-column: 3;
    }

    .Row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin: 50px 50px 0px 50px;
    }
}