.Images {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    max-height: 10%;
    margin: 50px;
}

.Row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 0 50px 50px 50px;
}

.SearchBox {
    grid-column: 3;
    padding-top: 20px;
}

.SelectBox1 {
    grid-column: 4;
}

.SelectBox2 {
    grid-column: 5;
}

.Title {
    margin: auto;
    margin-left: 0;
    grid-column: span 2;
    font-family: 'Larken', sans-serif;
    font-size: 42px;
}