.Images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    max-height: 10%;
}

.Row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.SelectBox1 {
    grid-column: 4;
}

.SelectBox2 {
    grid-column: 5;
}

.SearchBox {
    grid-column: 3;
}