.home {
    margin: 100px;
    position: relative;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.titulo-grande {
    font-size: 100px;
    margin: 0;
}

.subtitulo-pequeno {
    font-size: 22px;
}

.circle,
.line3 {
    position: absolute;
    width: 220px;
    z-index: -1;
}

.circle {
    rotate: 30deg;
    top: 70px;
    left: 270px;
}

.line3 {
    rotate: 10deg;
    top: 0px;
}

.slide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 50px;
    position: relative;
}

.space {
    padding: 10px;
    border-bottom: 2px solid black;
}
