.home {
    margin: 100px;
    position: relative;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
}

.titulo-grande {
    font-size: 100px;
    margin: 0;
}

.subtitulo-pequeno {
    font-size: 22px;
}

.circle,
.line3 {
    position: absolute;
    width: 220px;
    z-index: -1;
}

.circle {
    rotate: 30deg;
    top: 70px;
    left: 270px;
}

.line3 {
    rotate: 10deg;
    top: 0px;
}

.img-dashboard {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.space {
    padding: 10px;
    border-bottom: 2px solid black;
}

.view-all {
    background-color: black;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    float: right;
}

.hastag {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

.slide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    margin-top: 50px;
    max-width: auto;
}