.home {
    margin: 100px;
    position: relative;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
}

.titulo-grande {
    font-size: 100px;
    margin: 0;
    font-family: 'Larken', sans-serif;
}

.subtitulo-pequeno {
    font-size: 22px;
    font-family: 'Arial Narrow', sans-serif;
}

.circle,
.line3 {
    position: absolute;
    width: 220px;
    z-index: -1;
}

.circle {
    width: 270px;
    rotate: 30deg;
    top: 70px;
    left: 290px;
}

.line3 {
    rotate: 10deg;
    top: 0px;
}

.img-dashboard {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.space {
    padding: 10px;
    border-bottom: 2px solid black;
}

.view-all {
    background-color: black;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 15px 50px;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.hastag {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

span {
    font-size: 25px;
}

@media (max-width: 768px) {
    .dashboard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
}