.product-card {
    position: relative;
    width: 100%;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.skeleton {
    background-color: #e3e6e7;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    border-radius: 5px;
    animation: shine 1s ease-in-out infinite;
}

.header-skel {
    width: 45%;
    height: 15%;
    margin-top: 5px;
}

.img-skel {
    width: 100%;
    height: 80%;
}

@-webkit-keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}