.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: white;
    border-bottom: 2px solid #C3FF5B;
}

.logo {
    text-decoration: none;
}

.logo .logo-box {
    border: 2px solid #C3FF5B;
    color: black;
    padding: 5px 10px;
}

.logo .logo-box .first-letter {
    font-size: 1.5em;
    color: #C3FF5B;
}

.logo .logo-box .rest-of-word {
    color: white;
}

.links {
    display: flex;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}