img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
}

.image-name {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    transition: bottom 0.5s ease;
}

.image-container:hover .image-name {
    bottom: 10%;
}
