.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C3FF5B;
    border-top: 2px solid black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}